[submodule "submodules/arweave"]
	path = submodules/arweave
	url = https://github.com/ArweaveTeam/arweave
[submodule "submodules/docs.arweave.org-info"]
	path = submodules/docs.arweave.org-info
	url = https://github.com/ArweaveTeam/docs.arweave.org-info
